<mat-card class="poll-form-card">
  <mat-card-header class="poll-form-title">{{pollQuestion$ | async}}</mat-card-header>
  <mat-divider class="divider"></mat-divider>
  <mat-card-content>
    <mat-radio-group class="poll-form-radio-group" [(ngModel)]="selectedOption">
      <mat-radio-button class="poll-form-radio-button" *ngFor="let opt of pollOptions$ | async" [value]="opt.id">
        {{opt.text}}
      </mat-radio-button>
    </mat-radio-group>
    <div class="button-row">
      <button mat-raised-button [disabled]="selectedOption.text == 'not selected'" class="poll-form-button-answer">Answer</button>
      <button mat-raised-button class="poll-form-button-see-results">See results</button>
    </div>

  </mat-card-content>
</mat-card>

<div>Your favorite food is: {{selectedOption.text}}</div>
